<div class="container-fluid d-flex flex-column min-vh-100">
    <div class="justify-content-center pt-5 px-2 px-row-custom row row1-bg">
        <div class="col-auto">
            <p class="heading-1 lh-1">
                Gutenberg Project
            </p>
            <p class="body">
                A social cataloging website that allows you to freely search its database of books, annotations,
                and reviews.
            </p>
        </div>
    </div>
    <div class="flex-grow-1 justify-content-center pt-auto pt-md-4 px-2 px-row-custom px-md-custom row row2-bg">
        <div class="col-xs-12 col-sm-12 col-md-6 pe-auto pe-md-4">
            <div class="genre-card d-flex flex-row my-4 align-items-center" [routerLink]="['/browse', 'fiction']">
                <img class="img-fluid card-img" src="../../assets/new-assets/Fiction.svg" alt="Fiction.svg">
                <p class="ms-2 my-0">FICTION</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
            <div class="genre-card d-flex flex-row my-4 align-items-center" [routerLink]="['/browse', 'drama']">
                <img class=" img-fluid card-img" src="../../assets/new-assets/Drama.svg" alt="Drama.svg">
                <p class="ms-2 my-0">DRAMA</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
            <div class="genre-card d-flex flex-row my-4 align-items-center" [routerLink]="['/browse', 'humour']">
                <img class=" img-fluid card-img" src="../../assets/new-assets/Humour.svg" alt="Humour.svg">
                <p class="ms-2 my-0">HUMOUR</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
            <div class="genre-card d-flex flex-row my-auto my-md-4 align-items-center" [routerLink]="['/browse', 'politics']">
                <img class=" img-fluid card-img" src="../../assets/new-assets/Politics.svg" alt="Politics.svg">
                <p class="ms-2 my-0">POLITICS</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ps-auto ps-md-4">
            <div class="genre-card d-flex flex-row my-4 align-items-center" [routerLink]="['/browse', 'philosophy']">
                <img class=" img-fluid card-img" src="../../assets/new-assets/Philosophy.svg" alt="Philosophy.svg">
                <p class="ms-2 my-0">PHILOSOPHY</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
            <div class="genre-card d-flex flex-row my-4 align-items-center" [routerLink]="['/browse', 'history']">
                <img class=" img-fluid card-img" src="../../assets/new-assets/History.svg" alt="History.svg">
                <p class="ms-2 my-0">HISTORY</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
            <div class="genre-card d-flex flex-row my-4 align-items-center" [routerLink]="['/browse', 'adventure']">
                <img class=" img-fluid card-img" src="../../assets/new-assets/Adventure.svg" alt="Adventure.svg">
                <p class="ms-2 my-0">ADVENTURE</p>
                <img class="img-fluid ms-auto" src="../../assets/new-assets/Next.svg" alt="Next.svg">
            </div>
        </div>
    </div>
</div>